extends default

block scripts
  script(src="../p5.js")
  script(src="../p5.dom.js")
  script(src=script_file 
         table_a=points 
         table_b=type 
         image_loc=image)

block content
  h2 #{sub_topic}
  h3 #{map_type}